## Описание проекта

Вас пригласили на стажировку в отдел маркетинговой аналитики Яндекс.Афиши. 

Первое задание: помочь маркетологам снизить расходы — отказаться от невыгодных источников трафика и перераспределить бюджет.


Есть данные Яндекс.Афиши с июня 2017 по конец мая 2018 года:
- лог сервера с данными о посещениях сайта Яндекс.Афиши,
- выгрузка всех заказов за этот период,
- статистика рекламных расходов.

Вам предстоит изучить:
* как клиенты пользуются сервисом,
* когда делают первые покупки на сайте,
* сколько денег приносит компании каждый клиент,
* когда расходы на привлечение клиента окупаются.


Выручка измеряется в условных единицах — **у.е.**

# Инструкция

## Шаг 1. Загрузите данные и подготовьте их к анализу

1.1. Положите данные о визитах, заказах и рекламных расходах в переменные;

1.2. Подготовьте данные. Убедитесь, что тип данных во всех колонках соответствует сохранённым в них значениям.

## Шаг 2. Рассчитайте метрики и постройте графики

Посчитайте метрики трёх видов:
* продуктовые,
* метрики электронной коммерции,
* маркетинговые.

Отобразите на графиках изменения каждой метрики во времени. Всякий раз старайтесь подобрать наиболее подходящий тип визуализации: в некоторых случаях может быть уместна тепловая карта когортного анализа.

После каждого пункта сформулируйте выводы.

## Как рассчитать метрики

* 2.1. Продуктовые метрики
    * 2.1.1. Рассчитайте DAU, WAU и MAU. Вычислите средние значения этих метрик за весь период. Отобразите изменения метрик во времени на графиках;
    * 2.1.2. Определите, сколько раз за день пользователи в среднем заходят на сайт. Постройте график, отражающий изменения метрики во времени;
    * 2.1.3. Исследуйте, сколько времени пользователи проводят на сайте. Узнайте продолжительность типичной пользовательской сессии за весь период. Чтобы выбрать подходящую среднюю меру, постройте график распределения. Изменение продолжительности сессий во времени изучать необязательно;
    * 2.1.4. Рассчитайте Retention Rate, применяя когортный анализ. Покажите изменения метрики во времени на графике. Найдите средний Retention Rate на второй месяц «жизни» когорт.
* 2.2. Метрики электронной коммерции
    * 2.2.1. Исследуйте, сколько времени в среднем проходит с момента первого посещения сайта до совершения покупки. Изучать изменение этой метрики во времени необязательно;
    * 2.2.2. Применяя когортный анализ или другой метод, рассчитайте среднее количество покупок на одного покупателя за определённый период, например за 6 месяцев. Изучать изменение этой метрики во времени необязательно;
    * 2.2.3. Рассчитайте средний чек, применяя группировку по времени совершения покупки. Когортный анализ не подходит — он может исказить расчёты. Постройте график, отражающий изменения метрики во времени;
    * 2.2.4. Выясните, как меняется LTV на покупателя по когортам. Помните, что LTV — накопительная метрика. Рассчитайте средний LTV по когортам за 6 месяцев; в расчёт включайте когорты, «прожившие» не менее 6 месяцев. Маржинальность сервиса — 100%. Отразите изменения метрики во времени на графике;
    
* 2.3. Маркетинговые метрики
    **(Посчитайте и отобразите на графиках, как маркетинговые метрики различаются по рекламным источникам.
Один и тот же пользователь мог заходить на сайт из нескольких источников, поэтому важно определить «главный» источник для каждого и учитывать это в расчётах. Например, главным может стать первый источник перехода.)**

    * 2.3.1. Посчитайте общую сумму расходов на маркетинг. Выясните, как траты распределены по источникам. Визуализируйте изменения метрик во времени;
    * 2.3.2. Рассчитайте средний CAC на одного покупателя для всего проекта и для каждого источника трафика. Отразите изменения метрик на графиках;
    * 2.3.3. Рассчитайте ROMI по когортам в разрезе источников. Сравните окупаемость за одинаковые периоды жизни когорт. 
    
Обратите внимание, что клиенты, пришедшие из разных источников, могут иметь разный LTV. Постройте графики, отражающие изменения метрик во времени.

## Шаг 3. Сформулируйте выводы и рекомендации

* 3.1. Определите источники трафика, на которые маркетологам стоит делать упор. Объясните свой выбор: на какие метрики вы ориентируетесь и почему;
* 3.2. Опишите выводы, которые вы сделали после подсчёта метрик каждого вида: маркетинговых, продуктовых и метрик электронной коммерции;
* 3.3. Подведите итоги когортного анализа. Определите самые перспективные для компании когорты клиентов;

## Описание данных

В вашем распоряжении три датасета.

Файл `visits_log.csv` хранит лог сервера с информацией о посещениях сайта, `orders_log.csv` — информацию о заказах, а `costs.csv` — информацию о расходах на маркетинг.


Структура `visits_log.csv`:

* `Uid` — уникальный идентификатор пользователя,
* `Device` — категория устройства пользователя,
* `Start Ts` — дата и время начала сессии,
* `End Ts` — дата и время окончания сессии,
* `Source Id` — идентификатор источника перехода на сайт.


Структура `orders_log.csv`:

* `Uid` — уникальный идентификатор пользователя,
* `Buy Ts` — дата и время заказа,
* `Revenue` — сумма заказа.


Структура `costs.csv`:

* `source_id` — идентификатор рекламного источника,
* `dt` — дата проведения рекламной кампании,
* `costs` — расходы на эту кампанию.

# Библиотеки

In [1]:
import pandas as pd

# Содержание:

- [Шаг 1. Загрузка данных и подготовка их к анализу](#1)
    - [1.1. Положите данные о визитах, заказах и рекламных расходах в переменные](#1.1)
    - [1.2. Подготовьте данные. Убедитесь, что тип данных во всех колонках соответствует сохранённым в них значениям.](#1.2)
        - [1.2.1. visits_log](#1.2.1)
        - [1.2.2. orders_log](#1.2.2)
        - [1.2.3. costs](#1.2.3)
    - [Вывод подраздела](#1.3)
    
    
- [Шаг 2. Рассчитайте метрики и постройте графики](#2)
    - [2.1. Продуктовые метрики](#2.1)
        - [2.1.1. Рассчитайте DAU, WAU и MAU. Вычислите средние значения этих метрик за весь период. Отобразите изменения метрик во времени на графиках](#2.1.1)
        - [2.1.2. Определите, сколько раз за день пользователи в среднем заходят на сайт. Постройте график, отражающий изменения метрики во времени](#2.1.2)
        - [2.1.3. Исследуйте, сколько времени пользователи проводят на сайте. Узнайте продолжительность типичной пользовательской сессии за весь период. Чтобы выбрать подходящую среднюю меру, постройте график распределения. Изменение продолжительности сессий во времени изучать необязательно](#2.1.3)
        - [2.1.4. Рассчитайте Retention Rate, применяя когортный анализ. Покажите изменения метрики во времени на графике. Найдите средний Retention Rate на второй месяц «жизни» когорт](#2.1.4)
    - [2.2. Метрики электронной коммерции](#2.1)
        - [2.2.1. Исследуйте, сколько времени в среднем проходит с момента первого посещения сайта до совершения покупки. Изучать изменение этой метрики во времени необязательно](#2.2.1)
        - [2.2.2. Применяя когортный анализ или другой метод, рассчитайте среднее количество покупок на одного покупателя за определённый период, например за 6 месяцев. Изучать изменение этой метрики во времени необязательно](#2.2.2)
        - [2.2.3. Рассчитайте средний чек, применяя группировку по времени совершения покупки. Когортный анализ не подходит — он может исказить расчёты. Постройте график, отражающий изменения метрики во времени](#2.2.3)
        - [2.2.4. Выясните, как меняется LTV на покупателя по когортам. Помните, что LTV — накопительная метрика. Рассчитайте средний LTV по когортам за 6 месяцев; в расчёт включайте когорты, «прожившие» не менее 6 месяцев. Маржинальность сервиса — 100%. Отразите изменения метрики во времени на графике](#2.2.4)
    - [2.3. Маркетинговые метрики](#2.1)
        - [2.3.1. Посчитайте общую сумму расходов на маркетинг. Выясните, как траты распределены по источникам. Визуализируйте изменения метрик во времени](#2.3.1)
        - [2.3.2. Рассчитайте средний CAC на одного покупателя для всего проекта и для каждого источника трафика. Отразите изменения метрик на графиках](#2.3.2)
        - [2.3.3. Рассчитайте ROMI по когортам в разрезе источников. Сравните окупаемость за одинаковые периоды жизни когорт](#2.3.3)
        
        
- [Шаг 3. Сформулируйте выводы и рекомендации](#3)
    - [3.1. Определите источники трафика, на которые маркетологам стоит делать упор. Объясните свой выбор: на какие метрики вы ориентируетесь и почему](#3.1)
    - [3.2. Опишите выводы, которые вы сделали после подсчёта метрик каждого вида: маркетинговых, продуктовых и метрик электронной коммерции](#3.2)
    - [3.3. Подведите итоги когортного анализа. Определите самые перспективные для компании когорты клиентов](#3.3)

# Выполнение проекта

## Шаг 1. Загрузка данных и подготовка их к анализу
<a id="1"></a>

### 1.1. Положите данные о визитах, заказах и рекламных расходах в переменные
<a id="1.1"></a>

In [2]:
try:
    visits_log = pd.read_csv('datasets/visits_log.csv')
    orders_log = pd.read_csv('datasets/orders_log.csv')
    costs = pd.read_csv('datasets/costs.csv')
except:
    visits_log = pd.read_csv('/datasets/visits_log.csv')
    orders_log = pd.read_csv('/datasets/orders_log.csv')
    costs = pd.read_csv('/datasets/costs.csv')

### 1.2. Подготовьте данные. Убедитесь, что тип данных во всех колонках соответствует сохранённым в них значениям.
<a id="1.2"></a>

#### visits_log
<a id="1.2.1"></a>

In [3]:
visits_log.head()

,Device,End Ts,Source Id,Start Ts,Uid
0,touch,2017-12-20 17:38:00,4,2017-12-20 17:20:00,16879256277535980062
1,desktop,2018-02-19 17:21:00,2,2018-02-19 16:53:00,104060357244891740
2,touch,2017-07-01 01:54:00,5,2017-07-01 01:54:00,7459035603376831527
3,desktop,2018-05-20 11:23:00,9,2018-05-20 10:59:00,16174680259334210214
4,desktop,2017-12-27 14:06:00,3,2017-12-27 14:06:00,9969694820036681168

In [4]:
visits_log.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 359400 entries, 0 to 359399
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Device     359400 non-null  object
 1   End Ts     359400 non-null  object
 2   Source Id  359400 non-null  int64
 3   Start Ts   359400 non-null  object
 4   Uid        359400 non-null  uint64
dtypes: int64(1), object(3), uint64(1)
memory usage: 13.7+ MB

**Необходимо перевести атрибуты `End Ts` и `Start Ts`в тип данных "дата и время"**

In [5]:
visits_log['End Ts'] = pd.to_datetime(visits_log['End Ts'], format='%Y-%m-%d %H:%M:%S')
visits_log['Start Ts'] = pd.to_datetime(visits_log['Start Ts'], format='%Y-%m-%d %H:%M:%S')

In [6]:
visits_log.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 359400 entries, 0 to 359399
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Device     359400 non-null  object
 1   End Ts     359400 non-null  datetime64[ns]
 2   Source Id  359400 non-null  int64
 3   Start Ts   359400 non-null  datetime64[ns]
 4   Uid        359400 non-null  uint64
dtypes: datetime64[ns](2), int64(1), object(1), uint64(1)
memory usage: 13.7+ MB

#### orders_log
<a id="1.2.1"></a>

In [7]:
orders_log.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50415 entries, 0 to 50414
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Buy Ts   50415 non-null  object
 1   Revenue  50415 non-null  float64
 2   Uid      50415 non-null  uint64
dtypes: float64(1), object(1), uint64(1)
memory usage: 1.2+ MB

In [8]:
orders_log.head()

                Buy Ts  Revenue                   Uid
0  2017-06-01 00:10:00    17.00  10329302124590727494
1  2017-06-01 00:25:00     0.55  11627257723692907447
2  2017-06-01 00:27:00     0.37  17903680561304213844
3  2017-06-01 00:29:00     0.55  16109239769442553005
4  2017-06-01 07:58:00     0.37  14200605875248379450

**Переведем значения столбца `Buy Ts` к типу `datetime`.**

In [9]:
orders_log['Buy Ts'] = pd.to_datetime(orders_log['Buy Ts'], format='%Y-%m-%d %H:%M:%S')

In [10]:
orders_log.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50415 entries, 0 to 50414
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Buy Ts   50415 non-null  datetime64[ns]
 1   Revenue  50415 non-null  float64
 2   Uid      50415 non-null  uint64
dtypes: datetime64[ns](1), float64(1), uint64(1)
memory usage: 1.2 MB

#### costs
<a id="1.2.3"></a>

In [11]:
costs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2542 entries, 0 to 2541
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   source_id  2542 non-null   int64
 1   dt         2542 non-null   object
 2   costs      2542 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 59.7+ KB

In [12]:
costs.head()

   source_id          dt  costs
0          1  2017-06-01  75.20
1          1  2017-06-02  62.25
2          1  2017-06-03  36.53
3          1  2017-06-04  55.00
4          1  2017-06-05  57.08

**Переведем значения столбца `dt` к типу `datetime`.**

In [13]:
costs['dt'] = pd.to_datetime(costs['dt'], format='%Y-%m-%d')

In [14]:
costs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2542 entries, 0 to 2541
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   source_id  2542 non-null   int64
 1   dt         2542 non-null   datetime64[ns]
 2   costs      2542 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(1)
memory usage: 59.7 KB

### Вывод подраздела
<a id="1.3"></a>

Типы данных были приведены к корректному виду во всех трех наборах данных.

## Шаг 2. Рассчет метрик и построение графиков
<a id="2"></a>

### 2.1. Продуктовые метрики
<a id="2.1"></a>

#### 2.1.1. Рассчитайте DAU, WAU и MAU. Вычислите средние значения этих метрик за весь период. Отобразите изменения метрик во времени на графиках
<a id="2.1.1"></a>

* **DAU** (от англ. daily active users) — количество уникальных пользователей в день;
* **WAU** (от англ. weekly active users) — количество уникальных пользователей в неделю;
* **MAU** (от англ. monthly active users) — количество уникальных пользователей в месяц.

Для расчета вышеуказанных показателей нам нужна таблица с информацией о пользовательской активности `visits_log`

In [15]:
visits_log

,Device,End Ts,Source Id,Start Ts,Uid
0,touch,2017-12-20 17:38:00,4,2017-12-20 17:20:00,16879256277535980062
1,desktop,2018-02-19 17:21:00,2,2018-02-19 16:53:00,104060357244891740
2,touch,2017-07-01 01:54:00,5,2017-07-01 01:54:00,7459035603376831527
3,desktop,2018-05-20 11:23:00,9,2018-05-20 10:59:00,16174680259334210214
4,desktop,2017-12-27 14:06:00,3,2017-12-27 14:06:00,9969694820036681168
...,...,...,...,...,...
359395,desktop,2017-07-29 19:07:19,2,2017-07-29 19:07:00,18363291481961487539
359396,touch,2018-01-25 17:38:19,1,2018-01-25 17:38:00,18370831553019119586
359397,desktop,2018-03-03 10:12:19,4,2018-03-03 10:12:00,18387297585500748294
359398,desktop,2017-11-02 10:12:19,5,2017-11-02 10:12:00,18388616944624776485
359399,touch,2017-09-10 13:13:19,2,2017-09-10 13:13:00,18396128934054549559

Чтобы посчитать недельное и месячное использование, выделим в отдельные столбцы год, месяц и неделю, а также полную дату.

In [20]:
visits_log['session_year']  = visits_log['Start Ts'].dt.year
visits_log['session_month'] = visits_log['Start Ts'].dt.month
visits_log['session_week']  = visits_log['Start Ts'].dt.week
visits_log['session_date'] = visits_log['Start Ts'].dt.date
print(visits_log.head())

    Device              End Ts  Source Id            Start Ts  \
0    touch 2017-12-20 17:38:00          4 2017-12-20 17:20:00
1  desktop 2018-02-19 17:21:00          2 2018-02-19 16:53:00
2    touch 2017-07-01 01:54:00          5 2017-07-01 01:54:00
3  desktop 2018-05-20 11:23:00          9 2018-05-20 10:59:00
4  desktop 2017-12-27 14:06:00          3 2017-12-27 14:06:00

                    Uid  session_year  session_month  session_week  \
0  16879256277535980062          2017             12            51
1    104060357244891740          2018              2             8
2   7459035603376831527          2017              7            26
3  16174680259334210214          2018              5            20
4   9969694820036681168          2017             12            52

  session_date
0   2017-12-20
1   2018-02-19
2   2017-07-01
3   2018-05-20
4   2017-12-27

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  This is separate from the ipykernel package so we can avoid doing imports until

Посчитаем метрики. Сгруппируем данные по уникальным пользователям и найдём среднее:

In [26]:
dau_total = visits_log.groupby('session_date').agg({'Uid': 'nunique'}).mean()
wau_total = (
    visits_log.groupby(['session_year', 'session_week'])
    .agg({'Uid': 'nunique'})
    .mean()
)
mau_total = (
    visits_log.groupby(['session_year', 'session_month'])
    .agg({'Uid': 'nunique'})
    .mean()
)

print(int(dau_total))
print(int(wau_total))
print(int(mau_total))

907
5716
23228

#### 2.1.2. Определите, сколько раз за день пользователи в среднем заходят на сайт. Постройте график, отражающий изменения метрики во времени
<a id="2.1.2"></a>

#### 2.1.3. Исследуйте, сколько времени пользователи проводят на сайте. Узнайте продолжительность типичной пользовательской сессии за весь период. Чтобы выбрать подходящую среднюю меру, постройте график распределения. Изменение продолжительности сессий во времени изучать необязательно
<a id="2.1.3"></a>

#### 2.1.4. Рассчитайте Retention Rate, применяя когортный анализ. Покажите изменения метрики во времени на графике. Найдите средний Retention Rate на второй месяц «жизни» когорт.
<a id="2.1.4"></a>

### 2.2. Метрики электронной коммерции
<a id="2.2"></a>

#### 2.2.1. Исследуйте, сколько времени в среднем проходит с момента первого посещения сайта до совершения покупки. Изучать изменение этой метрики во времени необязательно
<a id="2.2.1"></a>

#### 2.2.2. Применяя когортный анализ или другой метод, рассчитайте среднее количество покупок на одного покупателя за определённый период, например за 6 месяцев. Изучать изменение этой метрики во времени необязательно
<a id="2.2.2"></a>

#### 2.2.3. Рассчитайте средний чек, применяя группировку по времени совершения покупки. Когортный анализ не подходит — он может исказить расчёты. Постройте график, отражающий изменения метрики во времени
<a id="2.2.3"></a>

#### 2.2.4. Выясните, как меняется LTV на покупателя по когортам. Помните, что LTV — накопительная метрика. Рассчитайте средний LTV по когортам за 6 месяцев; в расчёт включайте когорты, «прожившие» не менее 6 месяцев. Маржинальность сервиса — 100%. Отразите изменения метрики во времени на графике
<a id="2.2.4"></a>

### 2.3. Маркетинговые метрики
<a id="2.3"></a>

*Посчитайте и отобразите на графиках, как маркетинговые метрики различаются по рекламным источникам.
Один и тот же пользователь мог заходить на сайт из нескольких источников, поэтому важно определить «главный» источник для каждого и учитывать это в расчётах. Например, главным может стать первый источник перехода.*

*Обратите внимание, что клиенты, пришедшие из разных источников, могут иметь разный LTV. Постройте графики, отражающие изменения метрик во времени.*

#### 2.3.1. Посчитайте общую сумму расходов на маркетинг. Выясните, как траты распределены по источникам. Визуализируйте изменения метрик во времени
<a id="2.3.1"></a>

In [16]:
costs.head()

   source_id         dt  costs
0          1 2017-06-01  75.20
1          1 2017-06-02  62.25
2          1 2017-06-03  36.53
3          1 2017-06-04  55.00
4          1 2017-06-05  57.08

In [17]:
all_costs = costs['costs'].sum()
print('Общая сумма расходов на маркетинг {}'.format(all_costs))

Общая сумма расходов на маркетинг 329131.62

In [18]:
group_by_source = costs.p

AttributeError: 'DataFrame' object has no attribute 'p'

#### 2.3.2. Рассчитайте средний CAC на одного покупателя для всего проекта и для каждого источника трафика. Отразите изменения метрик на графиках
<a id="2.3.2"></a>

#### 2.3.3. Рассчитайте ROMI по когортам в разрезе источников. Сравните окупаемость за одинаковые периоды жизни когорт. 
<a id="2.3.3"></a>

## Шаг 3. Сформулируйте выводы и рекомендации
<a id="3"></a>

### 3.1. Определите источники трафика, на которые маркетологам стоит делать упор. Объясните свой выбор: на какие метрики вы ориентируетесь и почему
<a id="3.1"></a>

### 3.2. Опишите выводы, которые вы сделали после подсчёта метрик каждого вида: маркетинговых, продуктовых и метрик электронной коммерции
<a id="3.2"></a>

### 3.3. Подведите итоги когортного анализа. Определите самые перспективные для компании когорты клиентов
<a id="3.3"></a>

# Чек лист готовности проекта
- [x]  подготовили данные к анализу,
- [ ]  выбрали подходящие типы визуализации,
- [ ]  верно интерпретировали графики,
- [ ]  правильно рассчитали и проанализировали метрики,
- [ ]  аргументировали метриками рекомендации маркетологам,
- [ ]  сформировали логичную структуру проекта,
- [ ]  написали «чистый» и эффективный код,
- [ ]  оставили комментарии,
- [ ]  сделали корректные выводы.